<div class="container">
	<div class="cube">
		<h1 class="header text font-color">WEB SOLUTIONS & DEVELOPMENT</h1>
		<p class="text font-color">Hello! My name is Zilvinas Baltrunas. I am a web developer working with modern, simple and responsive individual projects. Each task gets individual attention, each component is important - I use my accumulated experience for creating effective websites.</p>
		<p class="text font-color">I'm excited of working with <span class="underline yellow">Javascript</span> and <span class="underline red">Angular</span>.</p>
		<p class="text font-color">Also I use technologies: <span class="red">HTML</span>, <span class="blue">CSS</span>, <span class="blue">SCSS</span>.</p>
		<div class="signs">
			<i class="fab fa-html5 red"></i>
			<i class="fab fa-css3-alt blue"></i>
			<i class="fab fa-js-square yellow"></i>
			<i class="fab fa-angular red"></i>
		</div>
	</div>
</div>