<div class="container">
	<div class="cube">	
		<h2 class="header text font-color">
			NEED A WEBSITE ? ANY QUESTIONS ?
		</h2>
		<p class="lets text font-color">LET'S GET IN TOUCH !</p>
		<p class="text font-color">
			<i class="fa fa-envelope-open" aria-hidden="true"></i>
			<a class="mail text font-color" href="mailto:zilvino@hotmail.com"> zilvino@hotmail.com</a>
		</p>
		<p class="text font-color">
			<i class="fa fa-phone" aria-hidden="true"></i> +370 685 55678
		</p>
		<br>
		<!-- <p class="text font-color">If you need a website, please</p>
		<div class="centerBox">
			<button [routerLink]="['../','questionnaire']" class="button" mat-raised-button>Fill the questionnaire</button>
		</div> -->
	</div>
</div>