<div class="container">
	<div class="header">
		<h1 class="h1">Projekto anketa</h1>
		<p>Šis klausimyno tikslas yra surinkti svarbiausią informaciją reikalingą projekto kūrimui ir įvertinti jūsų lūkesčius.</p>
		<p class="red">* Privaloma</p>
	</div>

	<div class="form">
		<p>Įmonės pavadinimas <span class="red">*</span></p>
		<mat-form-field>
			<input matInput placeholder="Jūsų atsakymas" required>
			<!-- [(ngModel)]="companyName" -->
		</mat-form-field>

		<p>Interneto svetainė</p>
		<mat-form-field>
			<input matInput placeholder="Jūsų atsakymas">
			<!-- [(ngModel)]="website" -->
		</mat-form-field>

		<p>Vienu 1-2 sakiniais apibūdinkite savo veiklą <span class="red">*</span></p>
		<mat-form-field>
			<input matInput placeholder="Jūsų atsakymas">
		</mat-form-field>

		<p>Jūsų partneriai / kam atstovaujate?</p>
		<mat-form-field>
			<input matInput placeholder="Jūsų atsakymas">
		</mat-form-field>

		<p>Koks yra pagrindinis svetainės tikslas? <span class="red">*</span></p>
		<mat-form-field>
			<input matInput placeholder="Jūsų atsakymas">
		</mat-form-field>

		<p>Į kokias tikslines grupes orientuotas jūsų projektas? <span class="red">*</span></p>
		<mat-form-field>
			<input matInput placeholder="Jūsų atsakymas">
		</mat-form-field>

		<p>Pateikite nuorodų kur galima rasti daugiau informacijos apie jūsų veiklą, paslaugas arba parduodamus produktus.</p>
		<mat-form-field>
			<input matInput placeholder="Jūsų atsakymas">
		</mat-form-field>

		<p>Koks yra pagrindinis svetainės tikslas? <span class="red">*</span></p>
		<mat-form-field>
			<input matInput placeholder="Jūsų atsakymas">
		</mat-form-field>
	</div>

	<div class="blue-window">
		<h3>Vertybės/įvaizdis</h3>
	</div>

	<div class="form">
		<p>Logotipas (Nuoroda į failą. Google Drive, Dropbox ar kt.)</p>
		<mat-form-field>
			<input matInput placeholder="Jūsų atsakymas">
		</mat-form-field>

		<p>Logotipo panaudojimo gidas - brandbook. (Nuoroda į failą. Google Drive, Dropbox ar kt.)</p>
		<mat-form-field>
			<input matInput placeholder="Jūsų atsakymas">
		</mat-form-field>

		<p>Jūsų dabartinio logotipo reikšmė, kokios asociacijos, kokia spalvų reikšmė?</p>
		<mat-form-field>
			<input matInput placeholder="Jūsų atsakymas">
		</mat-form-field>
	</div>

	<div class="blue-window">
		<h3 class="margin">Svetainės turinys (content is the king)</h3>
		<p>Lankytojai į svetainę ateina dėl turinio, todėl kokybiškas turinys yra ypatingai svarbus.</p>
	</div>

	<div class="form">
		<p>Ar turite pasiruošę tekstus svetainės turiniui užpildyti? <span class="red">*</span><br>
		(Pvz.: įmonės aprašymas, straipsniai, naujienos, paslaugų ar prekių aprašymai ir kt.)</p>
		<mat-form-field>
			<mat-select placeholder="Pasirinkite">
				<mat-option value="option">Ne</mat-option>
				<mat-option value="option">Taip</mat-option>
				<mat-option value="option">Taip, tačiau nepakankamai</mat-option>
			</mat-select>
		</mat-form-field>

		<p>Ar turite kokybiškas nuotraukas kurias norėtumėte panaudoti svetainėje, ar pačios svetainės dizaine? <span class="red">*</span><br>
		Pvz.: darbuotojų nuotraukos, biuro nuotraukos, produktų nuotraukos, bendro pobūdžio teminės nuotraukos, renginių nuotraukos ir pan.</p>
		<mat-form-field>
			<mat-select placeholder="Pasirinkite">
				<mat-option value="option">Ne</mat-option>
				<mat-option value="option">Taip</mat-option>
				<mat-option value="option">Taip, tačiau nepakankamai</mat-option>
			</mat-select>
		</mat-form-field>

		<p>Ar turite video medžiagos kurią norėsite publikuoti svetainėje? <span class="red">*</span><br>
		Pvz.: įmonės ar produkto pristatymas ir pan.</p>
		<mat-form-field>
			<mat-select placeholder="Pasirinkite">
				<mat-option value="option">Ne</mat-option>
				<mat-option value="option">Taip</mat-option>
				<mat-option value="option">Taip, tačiau nepakankamai</mat-option>
			</mat-select>
		</mat-form-field>

		<p>Ar turite kitos reklaminės medžiagos kurią norėsite publikuoti svetainėje? <span class="red">*</span><br>
		Pvz.: PDF bukletai, dokumentai, reklaminiai baneriai ir kt.</p>
		<mat-form-field>
			<input matInput placeholder="Jūsų atsakymas">
		</mat-form-field>
	</div>

	<div class="blue-window">
		<h3>Projekto tikslas</h3>
	</div>

	<div class="form">
		<p>Koks projekto pobūdis, paskirtis, tikslas, kas svarbu? <span class="red">*</span><br>
		Kokio tipo svetainė? Paslaugu ir prekių pristatymai? Rezervacijos?</p>
		<mat-form-field>
			<input matInput placeholder="Jūsų atsakymas">
		</mat-form-field>

		<p>Kas yra jūsų esamos ar būsimos svetainės lankytojai? <span class="red">*</span><br>
		Pvz.: esami ir potencialūs darbuotojai, nauji klientai, užsienio partneriai, studentai ir pan.</p>
		<mat-form-field>
			<input matInput placeholder="Jūsų atsakymas">
		</mat-form-field>

		<p>Kokį pagrindinį tikslą jūsų svetainės lankytojai turėtų pasiekti? <span class="red">*</span><br>
		Pv.: Greitai surasti ieškomą informaciją, užpildyti rezervacijos formą, palikti atsiliepimą, paskambinti ar užpildyti užklausos formą, įsigyti prekių, kuo ilgiau naršyti svetainėje ir pan.</p>
		<mat-form-field>
			<input matInput placeholder="Jūsų atsakymas">
		</mat-form-field>
	</div>

	<div class="blue-window">
		<h3 class="margin">Projekto reikalavimai</h3>
		<p>Jeigu nesate tikri, nebūtina išvardinti visko, padėsime suformuoti galutinius projekto reikalavimus.</p>
	</div>

	<div class="form">
		<p>Koks funkcionalumas reikalingas? <span class="red">*</span><br>
		Pvz.: naujienų talpinimas, naujienlaiškio prenumerata, rezervacijos forma, nuotraukų galerija, dalies produktų išvedimas į titulinį puslapį.</p>
		<mat-form-field>
			<input matInput placeholder="Jūsų atsakymas">
		</mat-form-field>

		<p>Patinkantys projektų pavyzdžiai <span class="red">*</span><br>
		Pateikite 1-3 nuorodas ir pakomentuokite kodėl patinka pateikti pavyzdžiai, spalvos, šriftas, nuotraukos, patogumas naudotis, o gal kažkoks funkcionalumas?</p>
		<mat-form-field>
			<input matInput placeholder="Jūsų atsakymas">
		</mat-form-field>

		<p>Papildoma informacija <span class="red">*</span><br>
		Ką dar būtinai turėtume žinoti.</p>
		<mat-form-field>
			<input matInput placeholder="Jūsų atsakymas">
		</mat-form-field>

	</div>
	<div class="centerBox">
		<button class="button" mat-raised-button (click)="getAnswers()">Siųsti anketą</button>
	</div>
</div>