.navbar {
	z-index: 100;
	position: fixed;
	top: 0;
	height: 3rem;
	width: 100%;
	.container {
		margin: 0 auto;
		max-width: 1180px;
	}
}
.list {
	display: flex;
	justify-content: flex-end;
	li {
		list-style-type: none;
		font-size: 1.2rem;
		a {
			text-decoration: none;
			color: #fff;
			padding: 0.8rem;
			display: inline-block;
			margin-right: 1rem;
		}
		a:hover {
			color: #A9A9A9;
		}
	}
}

@media only screen and (max-width: 480px) {
	.list {
		display: inline-block;
	}
}