body {
	background-color: black;
}

img {
	width: 60px;
}

.btn-orange {
	background-color: #FF8C00;
	border-color: #FF8C00;
}

.orange {
	color: #FF8C00;
}

h2 {
	font-size: 5rem;
}

h3 {
	font-size: 4rem;
}

.cube {
	padding: 1rem;
}

.section {
	padding: 0;
}